<h1>Application Show Page</h1>

<ul>
  <li>Name: <%= @applicant.name%> </li>
  <li>Address <%= @applicant.address%>, <%= @applicant.city%>, <%= @applicant.state%>, <%= @applicant.zip_code%> </li>
  <li>Description
</ul>