<h1>Application Show Page</h1>

<ul>
  <li>Name: <%= @applicant.name%> </li>
  <li>Address: <%= @applicant.address%>, <%= @applicant.city%>, <%= @applicant.state%>, <%= @applicant.zip_code%> </li>
  <li>Description: <%= @applicant.description%></li>
  <li>Status: <%= @applicant.status%></li>
</ul>

<h3>Pets on Application</h3>
<% @applicant.pets.each do |pet|%>
  <a href= <%="/pets/#{pet.id}"%>><%= "#{pet.name}"%></a>
<%end%>  

<%= form_with url: "/applications/#{@applicant.id}", local: true, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Submit' %>
<%end%>

<% if @applicant.pets.present? == true %>
  <% @applicant.status = 1 %>
  <% @applicant.save %>

  <section id='pending'>
    <p> Submit an Application</p>

    <%= form_with url: "/applications/#{@applicant.id}", local: true, method: :post do |f| %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.submit 'Submit' %>
    <%end%>
  </section>
<%end%>